<body class="site" onload="initialize();">

<div id="container">
  <div id="back">
    <a href="/">Home</a>
  </div>
  <div id="map"></div>

  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  <div class="map-marker"
       data-lat="{{ post.latitude }}"
       data-lon="{{ post.longitude }}"
       data-title="{{ post.title }}"
       data-url="{{ post.url | prepend: site.baseurl }}"></div>
  {% endfor %}
</div>

<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(10, -10),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 3
    };

    var map = new google.maps.Map(document.getElementById("map"), mapOptions),
        markerElements = document.getElementsByClassName("map-marker"),
        markers = [];

    for (var i = 0; i < markerElements.length; i++) {
      var lat = markerElements[i].getAttribute("data-lat"),
          lon = markerElements[i].getAttribute("data-lon"),
          title = markerElements[i].getAttribute("data-title"),
          url = markerElements[i].getAttribute("data-url");

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lon),
        map: map,
        title: title,
        url: url
      });

      marker.addListener('click', function () {
        window.location.href = this.url;
      });

      markers.push(marker);
    }
    new MarkerClusterer(map, markers, {
      gridSize: 25,
      imagePath: 'https://raw.githubusercontent.com/googlemaps/js-marker-clusterer/gh-pages/images/m'
    });
  }
</script>

</body>
