<a href="{{ site.baseurl }}/{{ site.navigation.map.url[page.lang] }}">{{ site.navigation.map.label[page.lang] }}</a>

{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %} <a href="{{ post.url }}" class="{{ post.lang }}">{{ site.languages[post.lang] }}</a> {% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %} <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.languages[page.lang] }}</a> {% endfor %}
