<div class="home">
  <div class="measure">
    <div class="posts">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts %}
      <div class="post-header py2">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <div class="title">
            <h3 class="h1 post-title">{{ post.title }}</h3>

            <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          </div>
          <img src="/images/bg-wide.png" data-src="{{ post.image }}"
               alt="{% if post.summary %}{{ post.summary }}{% else %}{{ post.excerpt }}{% endif %}"
               title="{% if post.summary %}{{ post.summary }}{% else %}{{ post.excerpt }}{% endif %}"/>
        </a>

        <div class="clearfix"></div>
      </div>
      <hr/>
      {% endfor %}
    </div>
  </div>
</div>
