---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <img src="{{ page.image }}" alt="{{ page.title }}"/>

  <div class="title px2">
    <div class="measure">
      <h1>{{ page.title }}</h1>

      <div class="post-meta">{{ page.date | date: site.date_format }}</div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="measure">
  <article class="post-content">
    {{ content }}
  </article>

  <div class="clearfix py1"></div>

  {% include share_buttons.html %}
  {% include comments.html %}
</div>

{% include photoswipe.html %}

<script type="text/javascript">
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubeIframeAPIReady() {
    $('.youtube-video').inViewAutoplay({
      autohide: 1,
      modestbranding: 1,
      rel: 0,
      quality: 'hd720'
    });
  }

  $(document).ready(function () {
    justifyImages();
    initPhotoSwipeFromDOM();
  });
</script>
